<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Enter Your Email
      <p class="subTitle">To receive a reset password link</p>
    </ion-title>
  </div>
  <ion-item>
    <ion-input [(ngModel)]="email" class="input" placeholder="Enter Email"></ion-input>
    <ion-icon name="mail-outline"></ion-icon>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" style="margin: 0 20px 20px 0">
    <ion-fab-button (click)="resetPassword()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
