<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Welcome</ion-title>
    <p class="subTitle">Sign Up to access your account</p>
  </div>
  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="username" class="input" placeholder="Enter Username"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="regForm.controls['username'].touched && regForm.controls['username'].invalid">
        <ion-text *ngIf="regForm.controls['username'].errors?.['required']" color="danger">
          Username is required
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="email" class="input" placeholder="Enter Mail"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div *ngIf="regForm.controls['email'].touched && regForm.controls['email'].invalid">
        <ion-text *ngIf="regForm.controls['email'].errors?.['required']" color="danger">
          Email is required
        </ion-text>
        <ion-text *ngIf="regForm.controls['email'].errors?.['email']" color="danger">
          Invalid email format
        </ion-text>
        <ion-text *ngIf="regForm.controls['email'].errors?.['pattern']" color="danger">
          Email does not match pattern
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" type="password" class="input" placeholder="Enter Password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="regForm.controls['password'].touched && regForm.controls['password'].invalid">
        <ion-text *ngIf="regForm.controls['password'].errors?.['required']" color="danger">
          Password is required
        </ion-text>
        <ion-text *ngIf="regForm.controls['password'].errors?.['minlength']" color="danger">
          Password must be at least 6 characters long
        </ion-text>
      </div>

      <div>
        <a [routerLink]="['../reset-password']" style="color: #ffc33f;">Forget Password?</a>
      </div>
      <div class="signupLink">
        <p>Already a member? <a [routerLink]="['../login']" style="color: #ffc33f;">Signin Now</a></p>
      </div>
      <ion-fab vertical="bottom" horizontal="end" style="margin: 0 20px 20px 0">
        <ion-fab-button (click)="signUp();">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </form>
</ion-content>
